{% extends 'base.html' %}
{% load static %}
{% block title %}Đổi Mật Khẩu{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Đổi Mật Khẩu</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <!-- Cột trái cho các chức năng -->
        <div class="col-md-3">
            {% if is_staff %}
                <div class="card mb-3 custom-green">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{% url 'admin_dashboard' %}" class="text-decoration-none">Quay lại trang chính</a>
                        </h5>
                    </div>
                </div>
            {% elif is_expert %}
                <div class="card mb-3 custom-green">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{% url 'expert_dashboard' %}" class="text-decoration-none">Quay lại trang chính</a>
                        </h5>
                    </div>
                </div>
            {% elif is_farmer %}
                <div class="card mb-3 custom-green">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{% url 'farmer_dashboard' %}" class="text-decoration-none">Quay lại trang chính</a>
                        </h5>
                    </div>
                </div>
            {% endif %}
            <div class="card mb-3 custom-green">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="{% url 'profile' %}" class="text-decoration-none">Quay lại Hồ Sơ</a>
                    </h5>
                </div>
            </div>
        </div>

        <!-- Cột chính cho form đổi mật khẩu -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h3 class="mt-4">Đổi Mật Khẩu</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ password_form.as_p }}
                        <button type="submit" class="btn btn-primary">Cập nhật Mật Khẩu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}